/* admin.css */

/* Style for the main container */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Style for individual sections */
.section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for component headers */
.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

/* Style for buttons */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for error and success messages */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

/* Style for form inputs */
input[type="text"],
input[type="file"],
select {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for tables */
.table-container {
  margin-top: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #007bff;
  color: #fff;
}



/* Style for checkboxes and labels */
label {
  display: inline-block;
  margin-right: 10px;
}

/* Style for tables with a maximum height and scrollbar */
.scrollable-table {
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}
