body {
  margin: 0;
  overflow-x: hidden;
}

.footer {
  background: #4285F4;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 0.5% 0%; /* Reduced top and bottom margin */
  padding: 0.3% 0%; /* Reduced top and bottom padding */
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 20px; /* Reduced horizontal margin */
}

.footer .row a i {
  font-size: 1.5em; /* Slightly reduced font size */
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
